table {
    margin: 200px auto;
}
td, #warning{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(9, 39, 39);
    font-size: 19px;
    border: 3px dotted rgb(192, 29, 29);
}
td {
    text-align:center;
}
th {
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
}